PORT=8000
JWT_SECRET=FCJFNWJEKCNDKJQWNKJDNCD*UD@!V+@_@!_V_@(V!)_(@_)V_!@(_)V(@_)(V)_!(@)CDHWBCHQDBJWHBCDJHBWC_!@__CDWJNCKJWQNKJCDNWJKQNCDKJNWKQCNDJKNWCKJNDQWJKNCKJDNWNQJCNDKJWNCDJQNCNSDJNHGDVSQJKNWDKFNS 
